Django==1.11.5
whitenoise==3.3.0  # manages static assets
waitress==0.8.9  # a pure python WSGI server that is a replacement for gunicorn
notifications-python-client==4.3.1
psycopg2==2.7.1
dj-database-url==0.4.2
hg+https://bitbucket.org/dread/django-auth0-auth#egg=django-auth0-auth
auth0-python==3.1.2  # from django-authz0-auth
#cryptography==2.0.3  # from django-authz0-auth (not needed as not using RSA decoding)
requests==2.18.1  # from django-authz0-auth
PyJWT==1.5.0  # from django-authz0-auth
