{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block inner_content %}

<div class="container">
  <div class="grid-row">
    <div class="column-full">
      <section class="content-section">
        <h3 class="content-section__title">Sandboxes</h3>
        {% include "pod_statuses.html" %}
      </section>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <section class="content-section">
        <h3 class="content-section__title">Deploy sandbox</h3>
        {% include "request_by_admin.html" %}
      </section>
    </div>
  </div>
</div>

{% endblock %}
