{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Government data science sandbox" %}
{% endblock %}

{% block content %}
  <main role="main" tabindex="-1">
    <div class="masthead">
      <div class="grid-row inner">
        <div class="column-two-thirds">
          {% blocktrans %}
            <h1 class="heading-xlarge">
              Government data science sandbox
            </h1>
            <p class="lede">
              Government analysis is changing, with data science tools and techniques playing a bigger role. This is an alpha version of a sandbox environment that helps civil servants adapt to that change.
            </p>
          {% endblocktrans %}
          <a
              class="button button-get-started"
              href="{# url 'signin' #}"
              role="button">
            {% trans "Request a sandbox" %}
          </a>
          {% blocktrans %}
            <span class="login-white">
              or <a href="">sign in</a> if you have already requested one.
            </span>
          {% endblocktrans %}
        </div>
      </div>
    </div>
      <div class="grid-row product-page-section">
        <div class="column-two-thirds">
          {% blocktrans %}
            <h2>Try new tools and techniques</h2>
            <p>
             Civil servants can use their sandbox to test analytical tools using their government issued devices, learn about their capabilities, and get help building a case for their department to invest in the tools and skills to support them at scale.
            </p>
          {% endblocktrans %}
        </div>
      </div>
      <div class="grid-row product-page-section contact">
        <div class="column-two-thirds">
          {% blocktrans %}
            <h2>Contact the data.gov.uk team</h2>
            <p>
              The sandbox is being developed by the Better use of Data team at the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>.
            </p>
            <p><a href="mailto:data-science-sandbox@digital.cabinet-office.gov.uk">Contact the team</a> if you have a question or wish to give feedback.</p>
          {% endblocktrans %}
        </div>
      </div>
  </main>
{% endblock %}
