{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block inner_content %}
<main id="main" role="main" tabindex="-1">

  <div class="container">
    <section class="content-section">
      <h2 class="content-section__title">My sandbox</h2>
      <p class="content-section__body">
        {% if user and user.is_authenticated %}
          <a href="https://{{ user.username }}-rstudio.tools.sandbox.data-science.org.uk">
            Open my sandbox
          </a>
          <br>
          <a href="https://{{ user.username }}-rstudio.tools.sandbox.data-science.org.uk">
            Delete
          </a>
          <br>
          <a href="https://{{ user.username }}-rstudio.tools.sandbox.data-science.org.uk">
            Redeploy
          </a>
        {% endif %}
      </p>
    </section>
  </div>

</main>
{% endblock %}
