{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block inner_content %}
<main id="main" role="main" tabindex="-1">

  <div class="container">
    <section class="content-section">
      <h3 class="content-section__title">Sandboxes</h3>
      <table>
        {% for sandbox in sandboxes %}
          <tr>
            <td>
              <a href="https://{{ sandbox.user }}-rstudio.tools.sandbox.data-science.org.uk">
                {{ sandbox.user }}
              </a>
            </td>
            <td>
              {% if sandbox.error %}
                <div class="error">Error message: {{ sandbox.messages }}</div>
                <div class="error">Phase: {{ sandbox.phase }}</div>
                <div class="error">Status: {{ sandbox.status }}</div>
              {% else %}
                <span class="tick-cross-tick">
                  <span class="visually-hidden">Can</span>
                    {{ sandbox.status }}
                </span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </section>
  </div>

  <div class="container">
    <section class="content-section">
      <h3 class="content-section__title">Deploy sandbox</h3>
      <form method="post">
        {% csrf_token %}
        <div>
          Github username:
          <input type="text" name="username" value="davidread">
        </div>
        <div>
          Email address:
          <input type="text" name="email" value="david.read@digital.cabinet-office.gov.uk">
        </div>
        <div>
          Full name:
          <input type="text" name="fullname" value="David Read">
        </div>
        <input type="submit" value="Deploy">
      </form>
    </section>
  </div>

</main>
{% endblock %}
