{% comment %}
Snippet

sandboxes - pod_status api response - list of sandbox dicts
{% endcomment %}

<table>
  {% for sandbox in sandboxes %}
    <tr>
      <td>
        <a href="https://{{ sandbox.user }}-rstudio.tools.sandbox.data-science.org.uk">
          {{ sandbox.user }}
        </a>
      </td>
      <td>
        {% if sandbox.error %}
          <div class="error">Error message: {{ sandbox.messages }}</div>
          <div class="error">Phase: {{ sandbox.phase }}</div>
          <div class="error">Status: {{ sandbox.status }}</div>
        {% else %}
          <span class="tick-cross-tick">
            <span class="visually-hidden">Can</span>
              {{ sandbox.status }}
          </span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
