{% comment %}
Snippet

sandboxes - pod_status api response - list of sandbox dicts
{% endcomment %}

<table>
  {% for sandbox in sandboxes %}
    <tr>
      <td>
        {% if sandbox.name %}
          {{ sandbox.name }} ({{ sandbox.user }})
        {% else %}
          {{ sandbox.user }}
        {% endif %}
      </td>
      <td>
        <a href="https://{{ sandbox.user }}-rstudio.tools.sandbox.data-science.org.uk">
          R Studio
        </a>
      </td>
      <td>
        {% if sandbox.error %}
          <div class="error">Error message: {{ sandbox.messages }}</div>
          <div class="error">Phase: {{ sandbox.phase }}</div>
          <div class="error">Status: {{ sandbox.status }}</div>
        {% else %}
          <span class="tick-cross-tick">
            <span class="visually-hidden">Can</span>
              {{ sandbox.status }}
          </span>
        {% endif %}
      </td>
      <td style="width: 90px">
        {# delete button #}
        <form action="{% url 'delete_sandbox' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="github" value="{{ sandbox.user }}">
          <input type="hidden" name="app" value="rstudio">
          <input class="button button-secondary" type="submit" value="Delete">
        </form>
      </td>
      <td style="width: 90px">
        {# redeploy button #}
        <form action="{% url 'delete_sandbox' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="github" value="{{ sandbox.user }}">
            <input type="hidden" name="app" value="rstudio">
            <input type="hidden" name="then_redeploy" value="True">
            <input class="button button-secondary" type="submit" value="Redeploy">
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
