{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Publish and update data for your organisation" %}
{% endblock %}

{% block content %}

<main id="main" role="main">
<div class="container">
      <div class="grid-row contact">

<div class="column-one-whole">
<h1 class="heading-large">Request a sandbox</h1>

<p>Info info</p>

<form action="/request/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label" for="email">Your email address: </label>
      <input class="form-control" id="email" type="text" name="email" value="{{ email }}">
    </div>

    <div class="form-group">
      <label class="form-label" for="github_username">Your github user name: </label>
      <input class="form-control" id="github_username" type="text" name="github_username" value="{{ github_username }}">
    </div>

    <div class="form-group">
      <label class="form-label" for="textarea">
        Why do you need a Sandbox?
      </label>
      <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
    </div>

    <div class="form-group">
      <h3>Terms of Use</h3>
      <p>Here are the terms</p>

      <div class="multiple-choice">
        <input id="checkbox-terms" name="checkbox-terms" type="checkbox" value="true">
        <label for="checkbox-terms">I agree to Terms of Use</label>
      </div>
    </div>

    <div class="form-group">
      <input class="button" type="submit" value="Submit">
    </div>
</form>

</div>
</div>
</div>
</main>

{% endblock %}
