{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Thank you for your request" %}
{% endblock %}

{% block inner_content %}

<div id="content">
  <main role="main">
    <div class="grid-row contact">
      <div class="column-two-thirds">

        <h1 class="heading-large">Request submitted</h1>

        <p>Thank you for requesting a Data Science Sandbox. We will send you an email with the details of how to access your Sandbox within one working day.</p>

        <p>If you don't hear anything from us in the next few days please contact us at: <a href="mailto:data-science-sandbox@digital.cabinet-office.gov.uk">data-science-sandbox@digital.cabinet-office.gov.uk</a>.</p>

      </div>
    </div>
  </main>
</div>

{% endblock %}
