{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block inner_content %}

<div id="content">
  <main role="main">
    <div class="grid-row contact">

<div class="column-two-thirds">
  <h3 class="heading-small">Step 3 of 5</h3>
</div>

<div class="column-two-thirds">
  <h1 class="heading-large">Data security classification</h1>

  <p>Will you be using data which has a security classification?</p>

  <form action="{% url 'register_data_security_classification' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <fieldset>

        <legend>
          <h1 class="heading-medium">Will you be using data which has a security classification?</h1>
          <span class="error-message">
            {{ form.data_security_classification.errors }}
          </span>
        </legend>

        {# TODO update version of govuk-elements CSS so that the radios are CIRCLES not SQUARES #}
        <p>NB you can select one, but the tick is currently invisible! To be fixed...</p>
        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="radio-group" value="no">
          <label for="radio-1">No - it's open data</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="radio-group" value="official">
          <label for="radio-2">Yes - it's OFFICIAL</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-3" type="radio" name="radio-group" value="secret">
          <label for="radio-3">Yes - it's SECRET or TOP SECRET</label>
        </div>
        <p class="form-block">or</p>
        <div class="multiple-choice">
          <input id="radio-4" type="radio" name="radio-group" value="skip">
          <label for="radio-4">I don't know or haven't decided yet</label>
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <input class="button" type="submit" value="Continue">
    </div>
  </form>
</div>

    </div>
  </main>
</div>

{% endblock %}
