{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block inner_content %}

<div id="content">
  <main role="main">
    <div class="grid-row contact">

<div class="column-two-thirds">
  <h3 class="heading-small">Step 3 of 4</h3>
</div>

<div class="column-two-thirds">
  <h1 class="heading-large">Your commitments - sensitive, personally identifiable or classified data</h1>

  <p>In the alpha version of this service, only open data can be loaded into your government data science sandbox. In signing up for one, you must agree not to load any sensitive or personally identifiable data, or any data classified as OFFICIAL, SECRET or TOP SECRET.</p>

  <h2 class="heading-medium">Terms of Use</h2>
    <ol class="list list-bullet"><li>I understand my responsibilities under the <a href="https://www.gov.uk/government/publications/government-security-classifications"> Government Security Classifications Policy</a> and my organisation’s policies.</li>
      <li>I will only use publicly available open data in the government data science sandbox and will take appropriate measures to ensure that other information is not used. I will <a href="mailto:data-science-sandbox@digital.cabinet-office.gov.uk ">report </a> any unintended data being uploaded to the sandbox.</li>
        <li>I will keep my login information safe and private.</li>

  <p><a class="button" href="{% url 'register_data_ethics' %}">Continue</a></p>

  </main>
</div>

{% endblock %}
