{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block inner_content %}

<div id="content">
  <main role="main">
    <div class="grid-row contact">

<div class="column-two-thirds">
  <h3 class="heading-small">Step 2 of 4</h3>
</div>

<div class="column-two-thirds">
  <h1 class="heading-large">Check your government email</h1>

  <p>We’ve sent an email to your government email address with a confirmation link. Once you’ve confirmed your email address, you’ll be taken to the next step.
</p>

  <p>
    <a class="button" href="{% url 'register_email_validate' %}">Continue</a>
  </p>
</div>

    </div>
  </main>
</div>

{% endblock %}
