{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block inner_content %}

<div id="content">
  <main role="main">
    <div class="grid-row contact">

<div class="column-two-thirds">
  <h3 class="heading-small">Step 1 of 4</h3>
</div>

<div class="column-two-thirds">
  <h1 class="heading-large">Sign-in to GitHub</h1>

  <p>To set up a government data science sandbox, you need to sign into your GitHub account so that we can authenticate you and so you can save the work you do.</p>
  <p>You need to authorise us to have read only access to your email address, organisations and teams. Once you’ve done that, you’ll be taken to the next step.
</p>

  <p>
    <a class="button" href="{% url 'auth0_login' %}?redirect_uri=/register/email">Next</a>
  </p>
</div>

    </div>
  </main>
</div>

{% endblock %}
