{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block inner_content %}

<div id="content">
  <main role="main">
    <div class="grid-row contact">

<div class="column-two-thirds">
  <h3 class="heading-small">Step 5 of 5</h3>
</div>

<div class="column-two-thirds">
  <h1 class="heading-large">Terms of Use</h1>

    <p>I understand my responsibilities under the <a href="https://www.gov.uk/government/publications/government-security-classifications" target="_blank">Government Security Classifications Policy</a> and my organisation's policies, and will act accordingly.</p>
    <p>I will only use publicly available open data in the government data science sandbox and will take appropriate measures to ensure that other information is not used. I will <a href="mailto:data-science-sandbox@digital.cabinet-office@gov.uk"> report any unintended data</a>.</p>
    <p>I will keep my login information safe and private.</p>

  <form action="{% url 'register_terms' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <fieldset>
        <div class="multiple-choice">
          <input id="agree" name="agree" type="checkbox" value="true">
          <label for="agree">I agree</label>
        </div>
      </fieldset>

      <div class="form-group">
        <input class="button" type="submit" value="Create sandbox">
      </div>
    </div>
  </form>
</div>

    </div>
  </main>
</div>

{% endblock %}
